<h2><%= @retailer.company_name %></h2>
<% if @retailer.description? %>
	<h3>About <%= @retailer.company_name %></h3>
	<p><%= @retailer.description %></p>
<% end %>

<div class="postrow">
<h3>Available Stock</h3>
<% @posts.each do |post| %>
	<% if !post.nonprofit_id? && post.deadline >= Date.today %>
	<div class="post">
		<% if post.img? %>
			<%= image_tag post.img.url(:square) %>
		<% end %>
		<p>Description: <b><%= post.description %></b></p>
		<p>Pickup deadline: <b><%= post.deadline %></b></p>
		<div class="button"><%= link_to 'View Details', retailer_post_path(post.retailer_id, post) %></div>
	</div>
	<% end %>
<% end %>
</div>

<% if retailer_signed_in? && @retailer == current_retailer %>
<div class="postrow">
<h3>Waiting for Pickup</h3>
	<% @posts.each do |post| %>
		<% if post.nonprofit_id? && !post.picked_up? %>
			<div class="post">
				<% if post.img? %>
					<%= image_tag post.img.url(:square) %>
				<% end %>
				<p>Picking up: <b><%= link_to post.nonprofit.company_name, nonprofit_path(post.nonprofit) %></b></p>
				<p>Description: <b><%= post.description %></b></p>
				<p>Pickup deadline: <b><%= post.deadline %></b></p>
				<div class="button"><%= link_to 'View Details', retailer_post_path(post.retailer_id, post) %></div>
			</div>
		<% end %>
	<% end %>
</div>
<div class="postrow">
<h3>Picked Up</h3>
	<% @posts.each do |post| %>
		<% if post.picked_up? %>
			<div class="post">
				<% if post.img? %>
					<%= image_tag post.img.url(:square) %>
				<% end %>
				<p>Picked up by: <b><%= link_to post.nonprofit.company_name, nonprofit_path(post.nonprofit) %></b></p>
				<p>Description: <b><%= post.description %></b></p>
				<p>Pickup deadline: <b><%= post.deadline %></b></p>
				<div class="button"><%= link_to 'View Details', retailer_post_path(post.retailer_id, post) %></div>
			</div>
		<% end %>
	<% end %>
</div>
<div class="postrow">
	<h3>Expired Posts</h3>
	<% @posts.each do |post| %>
		<% if !post.picked_up? && post.deadline < Date.today %>
			<div class="post">
				<% if post.img? %>
					<%= image_tag post.img.url(:square) %>
				<% end %>
				<p>Description: <b><%= post.description %></b></p>
				<p>Pickup deadline: <b><%= post.deadline %></b></p>
				<div class="button"><%= link_to 'View Details', retailer_post_path(post.retailer_id, post) %></div>
			</div>
		<% end %>
	<% end %>
</div>
<% end %>