<h2><%= @retailer.company_name %></h2>
<% if @retailer.description? %>
	<h3>About <%= @retailer.company_name %></h3>
	<p><%= @retailer.description %></p>
<% end %>

<% @posts.each do |post| %>
<div class="post">
	<p>Clothing season: <%= post.season.name %></p>
	<p>Pickup deadline: <%= post.deadline %></p>
	<p><%= link_to 'Click to view this post', retailer_post_path(@retailer, post) %></p>
</div>
<% end %>