<h2><%= @nonprofit.company_name %></h2>
<% if @nonprofit.description? %>
	<h3>About <%= @nonprofit.company_name %></h3>
	<p><%= @nonprofit.description %></p>
<% end %>

<% if !retailer_signed_in? && nonprofit_signed_in? && @nonprofit == current_nonprofit %>
	<div class="postrow">
		<h3>Pending Pickups</h3>
		<% @posts.each do |post| %>
			<% if post.deadline >= Date.today %>
			<div class="post">
				<% if post.img? %>
					<%= image_tag post.img.url(:square) %>
				<% end %>
				<p>Retailer: <b><%= link_to post.retailer.company_name, retailer_path(post.retailer) %></b></p>
				<p>Description: <b><%= post.description %></b></p>
				<p>Pickup deadline: <b><%= post.deadline %></b></p>
				<div class="button"><%= link_to 'View Details', retailer_post_path(post.retailer_id, post) %></div>
			</div>
			<% end %>
		<% end %>
	</div>
	<div class="postrow">
		<h3>Past Pickups</h3>
		<% @posts.each do |post| %>
			<% if post.picked_up? %>
			<div class="post">
				<% if post.img? %>
					<%= image_tag post.img.url(:square) %>
				<% end %>
				<p>Retailer: <b><%= link_to post.retailer.company_name, retailer_path(post.retailer) %></b></p>
				<p>Description: <b><%= post.description %></b></p>
				<p>Pickup deadline: <b><%= post.deadline %></b></p>
				<div class="button"><%= link_to 'View Details', retailer_post_path(post.retailer_id, post) %></div>
			</div>
			<% end %>
		<% end %>
	</div>
<% end %>