<!DOCTYPE html>
<html>
<head>
  <title>New Clothes Network</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
	<h1><%= link_to 'New Clothes Network', root_path %></h1>
	<h2>Pairing Clothes Without Homes to People Without Homes</h2>
</div>

<div class="content">

<div class="retail_pane">
	<div class="nav">
		<% if !retailer_signed_in? && !nonprofit_signed_in? %>
			<div class="navlink"><%= link_to "Retailer Sign Up", new_retailer_registration_path %></div>
			<div class="navlink"><%= link_to "Retailer Login", new_retailer_session_path %></div>
		<% end %>
	</div>
</div>

<div class="nonprofit_pane">
	<div class="nav">
		<% if !nonprofit_signed_in? && !retailer_signed_in? %>
			<div class="navlink"><%= link_to "Nonprofit Sign Up", new_nonprofit_registration_path %></div>
			<div class="navlink"><%= link_to "Nonprofit Login", new_nonprofit_session_path %></div>
		<% end %>
	</div>
</div>

<% if retailer_signed_in? || nonprofit_signed_in? %>
<div class="logged_in_nav">
	<div class="nav">
		<% if retailer_signed_in? %>
			<%= link_to 'New Post', new_retailer_post_path(current_retailer) %>
			<%= link_to 'Edit Retailer Information', edit_retailer_registration_path %>
			<%= link_to "Logout", destroy_retailer_session_path, method: :delete %>
		<% end %>
		<% if nonprofit_signed_in? %>
			<%= link_to 'Edit Nonprofit Information', edit_nonprofit_registration_path %>
			<%= link_to "Logout", destroy_nonprofit_session_path, method: :delete %>
		<% end %>
	</div>
</div>
<% end %>

	<% if notice %>
	  <p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
	  <p class="alert alert-danger"><%= alert %></p>
	<% end %>

	<%= yield %>

</div>
</body>
</html>